body{
    margin: 0;
    font-family: 'Inria Serif', serif;
    background-color: white;
}
.banner{
    padding: 1%;
    background-color: black;
    color: white;
}
table, td, th {
    border: 1px solid white;
    background-color: rgb(42, 41, 41);
    color: azure;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

form{
    padding: 0px 45%;
}
